<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Para Room y imagenes-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cowdex"
        android:usesCleartextTraffic="false">

<!--
<activity
    android:name=".ui.ForgotPasswordActivity.ForgotPasswordActivity"
    android:exported="false" />
<activity
    android:name=".ui.LoginActivity.LoginActivity"
    android:exported="false" />
<activity
    android:name=".ui.RegisterActivity.RegisterActivity"
    android:exported="false" />
<activity
    android:name=".ui.EmailCheckActivity.EmailCheckActivity"
    android:exported="false" />




<activity
    android:name=".MainActivity"
    android:exported="true"
    android:label="@string/app_name"
    android:theme="@style/Theme.Cowdex.NoActionBar">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
-->

        <!-- Activity de Splash / Email Check (LAUNCHER) -->
        <activity
            android:name=".ui.EmailCheckActivity.EmailCheckActivity"
            android:exported="true"
            android:theme="@style/Theme.Cowdex.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Registro -->
        <activity
            android:name=".ui.RegisterActivity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Cowdex.NoActionBar" />

        <!-- Activity de Login -->
        <activity
            android:name=".ui.LoginActivity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Cowdex.NoActionBar" />

        <!-- Activity de Recuperar Contraseña -->
        <activity
            android:name=".ui.ForgotPasswordActivity.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Cowdex.NoActionBar" />

        <!-- Activity Principal (tu Bottom Navigation) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

    </application>

</manifest>